# files
.DS_Store
.env*
.vscode
*.log

# package directories
node_modules
jspm_packages
.build
dist

# Serverless directories
.serverless

# Webpack directories
.webpack

# Database backups
backups

# anaysis output
analysis

# Amazon Q files
.amazonq*